* {
    margin: 0px;
    padding: 0px;
}

/* header styles */

.banner-container {
    background-image: url("../images/banner/banner3.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: #FFFFFF;

}

.banner-content {
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 25px;

}

.banner-description {
    font-size: 20px;
    margin-bottom: 30px;
}



.contact-btn {
    color: #005FAC;
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/* main tag failure styles */

.failure-content {
    display: flex;
    justify-content: center;
    padding-top: 130px;
    padding-right: 300px;
}

.failure-item {
    padding-top: 270px;
    margin-left: 150px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    color: gray;
    margin-top: 25px;
    margin-bottom: 15px;
}

.failure-point {
    color: gray;
}

.fa-solid {
    color: #6DE7B4;
}

/* Plan styles */

.plan-content {
    text-align: center;
    align-items: center;
    margin-top: 130px;
}

.plan-details {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: auto;
    padding-top: 50px;
    margin-bottom: 130px;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.plan-sub-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

.plan-desc {
    color: gray;
    font-weight: 500;
    font-size: 25px;
}

.plan-img {
    margin-bottom: 15px;
}

/* gradient-styles */

.gradient-content {
    background-image: linear-gradient(to right, rgba(0, 95, 172, 1), rgba(0, 95, 172, 0)), url("../images/watch.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    margin: 200px;
    padding-left: 60px;
    border-radius: 8px;
}

.gradient-banner {
    border-radius: 8px;
    height: 300px;
}

.gradient-title {
    color: white;
    font-weight: 700;
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.button-two {
    padding: 20px;
}

/* outside section styles */

.outside-container {
    background-image: url("../images/three-people-working-on-board-thinking-outside-the-box.jpg"), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding-left: 60px;
    margin: 150px;
    margin-bottom: 80px;
    border-radius: 8px;
}

.outside-title {
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-left: 100px;
}

ul {
    padding-left: 100px;
}

ul li {
    list-style: none;
    color: white;
    font-size: 20px;
}

/* footer styles */

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #151414;
    height: 500px;
    color: white;
    align-items: center;
}

.footer-content {
    padding-left: 200px;

}

.footer-title {
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
}


.footer-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-icon {
    margin-left: -5px;
    padding: 5px;
}

.footer-subscribe {
    margin-top: -100px;
    margin-right: 200px;
}

.footer-title-two {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.footer-email {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;
    background-color: #151414;
    color: white;
    margin-bottom: 10px;
}

.sub-btn {
    padding: 18px;
    color: white;
    background-color: #005FAC;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin: auto;
    border: none;
}

::placeholder{
    color: white;
}